$primary-100:rgb(16, 117, 135);
$primary-200:rgb(13, 103, 119);
$primary-300: #0d5c77;
$primary-400: #0b4b60;
$primary-500: #073b4c;
$primary-600: #043747;
$primary-700: #042d47;
$primary-800: #021f3d;
$primary-800: #011434;
$secondary-500: #06d6a0;
$secondary-600: #04bd95;
$secondary-700: #04a986;
$secondary-800:rgb(4, 169, 98);
$secondary-900:rgb(5, 143, 83);
$teritary-500: #ef476f;

$white-400:rgb(227, 237, 235);
$white-500:rgb(217, 228, 226);
$white-600:rgb(202, 211, 209);