@import "./partials/mixins.scss";
@import "./partials/colors.scss";

* {
  transition: 0.2s;
}

body,
main {
  min-height: 100vh;
  background-color: $white-300;
}

main {
  @include flex(column);
}

section {
  @include flex($justify: center);
  margin: 10px;
}

span,
a {
  cursor: pointer;
}

article.tamagotchi {
  width: 250px;
  div {
    @include flex(column);
    box-sizing: border-box;
    background-color: $primary-300;
    padding: 10px;
    border-radius: 5px;
    > picture {
      @include flex(column, center, center);
      height: 100px;
      background-color: $secondary-900;
      border: 4px solid #000;
      border-radius: 5px;
      margin-bottom: 8px;
      box-shadow: 8px 8px 15px #000 inset, -8px -8px 15px #000 inset;
    }
    > div {
      background-color: $white-400;
      border-radius: 0px;
    }
    .btn-container {
      @include flex($justify: space-evenly);
      color: $white-400;
      margin-top: 5px;
      gap: 5px;
      background-color: $black-500;
      border-radius: 10px;
      padding: 3px;
      border: 5px solid $primary-400;
      > div {
        padding: 0px;
        background-color: $black-500;
      }
      button {
        background-color: $primary-300;
      }
    }
  }
  .chat-bubble {
    display: block;
    position: absolute;
    min-width: 80px;
    min-height: 40px;
    transform: translate(-60%, -50%);
    background: $white-200;
    border: 1px solid $black-500;
    border-radius: 1.5rem;
    border-bottom-right-radius: 0px;
    opacity: .95;
  }
  .hide{
    display: none;
  }
}


dialog {
  fieldset {
    @include flex(column);
    border: none;
    padding: 0px;
    font-size: 17px;
  }
  footer {
    @include flex(column);
    margin-top: 10px;
  }
}

button {
  padding: 6px;
  box-shadow: 1px 1px #000;
  transition: 0.1 !important;
  border-width: 2px;
  &:active {
    transform: translate(1px, 1px);
    box-shadow: 2px 2px 3px #fff inset, -2px -2px 3px#fff inset;
  }
}

.pet-btn {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.warning-btn {
  border: 2px solid $teritary-500;
  background-color: #fff;
  &.warning-btn:hover {
    color: $teritary-500;
  }
}

.primary-btn {
  background-color: $secondary-500;
}
