* {
  transition: 0.2s;
}

body,
main {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #b6dae2;
  background-image: radial-gradient(#28b5d5 0.5px, transparent 0.5px), radial-gradient(#123c77 0.5px, #cfe6eb 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
  font-family: sans-serif;
}

button, select, a, label {
  cursor: pointer !important;
}

h1, h2, h3, h4, h5, h6, p, span {
  cursor: default !important;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

main {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
}

section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  margin: 10px;
}

span,
a {
  cursor: pointer;
}

ul {
  padding: 5px;
  margin: 10px;
}

aside {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #9cbbd9;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 200px;
  min-height: 100vh;
  position: sticky;
  left: 0px;
  top: 0px;
  border: 2px solid #272929;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
aside header {
  width: 100%;
  border-bottom: 2px solid #272929;
  margin-top: 16px;
}
aside header h1,
aside header h2 {
  margin: 5px;
}
aside section > header {
  color: #474949;
  border-color: #474949;
}
aside section {
  margin: 0;
  justify-content: flex-start;
}

.row {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: stretch;
  box-sizing: border-box;
  margin: 0;
}
.row aside {
  flex: 1;
}
.row main {
  flex: 4;
}

article.tamagotchi {
  width: 250px;
  margin: 16px;
}
article.tamagotchi > div {
  box-shadow: 3px 3px 5px #000;
}
article.tamagotchi div {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #9a2257;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
}
article.tamagotchi div > picture {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: rgb(5, 143, 83);
  border: 4px solid #000;
  border-radius: 5px;
  margin-bottom: 8px;
  box-shadow: 8px 8px 15px #000 inset, -8px -8px 15px #000 inset;
}
article.tamagotchi div > picture img {
  width: 50%;
}
article.tamagotchi div > div {
  background-color: #272929;
}
article.tamagotchi div .btn-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: stretch;
  color: rgb(227, 237, 235);
  margin-top: 5px;
  gap: 5px;
  background-color: #272929;
  border-radius: 10px;
  padding: 3px;
  border: 5px solid #0b4b60;
}
article.tamagotchi div .btn-container > div {
  padding: 0px;
  background-color: #272929;
}
article.tamagotchi div .btn-container button {
  background-color: #9a2257;
}
article.tamagotchi .stat-bar {
  width: 100%;
  height: 20px;
  border: 2px solid rgb(245, 250, 249);
  padding: 0px;
  margin: 5px 0px;
  background-color: rgb(217, 228, 226);
}
article.tamagotchi .stat-bar .fill {
  height: 100%;
  width: 0%;
  padding: 0px;
  background-color: #ef476f;
}
article.tamagotchi .chat-bubble {
  display: block;
  position: absolute;
  min-width: 80px;
  max-width: 260px;
  min-height: 40px;
  z-index: 100;
  transform: translate(-60%, -50%);
  background: rgb(245, 250, 249);
  border: 1px solid #272929;
  border-radius: 1.5rem;
  border-bottom-right-radius: 0px;
  opacity: 0.95;
}
article.tamagotchi .hide {
  display: none;
}
article.tamagotchi div.content {
  color: rgb(245, 250, 249);
  border: 5px solid #0b4b60;
}

dialog {
  border: 3px solid #000;
  border-radius: 8px;
  box-shadow: 8px 8px #000;
  padding: 1.6rem;
  max-width: 400px;
}
dialog fieldset {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 250px;
  border: none;
  font-size: 17px;
  padding: 0px;
}
dialog fieldset input, dialog fieldset select {
  all: unset;
  border: 2px solid #000;
  padding: 5px;
  border-radius: 4px;
  margin: 2px 0px 8px 0px;
}
dialog fieldset input:focus, dialog fieldset select:focus {
  border-color: rgb(5, 143, 83);
  box-shadow: 0 0 0 2px #04a986;
}
dialog footer {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: stretch;
  margin-top: 10px;
}
dialog footer button {
  margin-bottom: 8px;
}

button {
  padding: 6px;
  box-shadow: 1px 1px #000;
  transition: 0.1 !important;
  border-width: 2px;
}
button:active {
  transform: translate(1px, 1px);
  box-shadow: 2px 2px 3px #fff inset, -2px -2px 3px #fff inset;
}

.pet-btn {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.warning-btn {
  border: 2px solid #ef476f;
  background-color: #fff;
}
.warning-btn.warning-btn:hover {
  color: #ef476f;
}

.primary-btn {
  background-color: #06d6a0;
}

.stat-bar {
  width: 100%;
  height: 20px;
  border: 2px solid rgb(245, 250, 249);
  padding: 0px;
  margin: 0px;
  background-color: #ef476f;
}
.stat-bar .fill {
  height: 100%;
  width: 10%;
  background-color: #06d6a0;
}

article.tamagotchi:nth-child(1) picture img {
  animation: bounce 0.5s infinite;
}

article.tamagotchi:nth-child(2) picture img {
  animation: bounce 0.3s infinite;
}

article.tamagotchi:nth-child(3) picture img {
  animation: bounce 0.4s infinite;
}

article.tamagotchi:nth-child(4) picture img {
  animation: bounce 0.6s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}/*# sourceMappingURL=style.css.map */